
  
  .particle {
    position: absolute;
    border-radius: 50%;
  }
  
  @-webkit-keyframes particle-animation-1 {
    100% {
      transform: translate3d(80vw, 27vh, 64px);
    }
  }
  
  @keyframes particle-animation-1 {
    100% {
      transform: translate3d(80vw, 27vh, 64px);
    }
  }
  .particle:nth-child(1) {
    -webkit-animation: particle-animation-1 60s infinite;
            animation: particle-animation-1 60s infinite;
    opacity: 0.49;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
    transform: translate3d(50vw, 90vh, 13px);
    background: #2685d9;
  }
  
  @-webkit-keyframes particle-animation-2 {
    100% {
      transform: translate3d(17vw, 40vh, 86px);
    }
  }
  .nobg 
  {
    background: none !important;
  }
  @keyframes particle-animation-2 {
    100% {
      transform: translate3d(17vw, 40vh, 86px);
    }
  }
  .particle:nth-child(2) {
    -webkit-animation: particle-animation-2 60s infinite;
            animation: particle-animation-2 60s infinite;
    opacity: 0.47;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
    transform: translate3d(69vw, 2vh, 29px);
    background: #6826d9;
  }
  
  @-webkit-keyframes particle-animation-3 {
    100% {
      transform: translate3d(84vw, 67vh, 82px);
    }
  }
  
  @keyframes particle-animation-3 {
    100% {
      transform: translate3d(84vw, 67vh, 82px);
    }
  }
  .particle:nth-child(3) {
    -webkit-animation: particle-animation-3 60s infinite;
            animation: particle-animation-3 60s infinite;
    opacity: 0.62;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s;
    transform: translate3d(33vw, 67vh, 81px);
    background: #d97726;
  }
  
  @-webkit-keyframes particle-animation-4 {
    100% {
      transform: translate3d(79vw, 23vh, 67px);
    }
  }
  
  @keyframes particle-animation-4 {
    100% {
      transform: translate3d(79vw, 23vh, 67px);
    }
  }
  .particle:nth-child(4) {
    -webkit-animation: particle-animation-4 60s infinite;
            animation: particle-animation-4 60s infinite;
    opacity: 0.65;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s;
    transform: translate3d(75vw, 42vh, 24px);
    background: #c1d926;
  }
  
  @-webkit-keyframes particle-animation-5 {
    100% {
      transform: translate3d(8vw, 87vh, 41px);
    }
  }
  
  @keyframes particle-animation-5 {
    100% {
      transform: translate3d(8vw, 87vh, 41px);
    }
  }
  .particle:nth-child(5) {
    -webkit-animation: particle-animation-5 60s infinite;
            animation: particle-animation-5 60s infinite;
    opacity: 0.86;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -1s;
            animation-delay: -1s;
    transform: translate3d(89vw, 75vh, 11px);
    background: #88d926;
  }
  
  @-webkit-keyframes particle-animation-6 {
    100% {
      transform: translate3d(2vw, 34vh, 46px);
    }
  }
  
  @keyframes particle-animation-6 {
    100% {
      transform: translate3d(2vw, 34vh, 46px);
    }
  }
  .particle:nth-child(6) {
    -webkit-animation: particle-animation-6 60s infinite;
            animation: particle-animation-6 60s infinite;
    opacity: 0.96;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -1.2s;
            animation-delay: -1.2s;
    transform: translate3d(26vw, 44vh, 42px);
    background: #d9264d;
  }
  
  @-webkit-keyframes particle-animation-7 {
    100% {
      transform: translate3d(67vw, 32vh, 50px);
    }
  }
  
  @keyframes particle-animation-7 {
    100% {
      transform: translate3d(67vw, 32vh, 50px);
    }
  }
  .particle:nth-child(7) {
    -webkit-animation: particle-animation-7 60s infinite;
            animation: particle-animation-7 60s infinite;
    opacity: 0.57;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -1.4s;
            animation-delay: -1.4s;
    transform: translate3d(39vw, 33vh, 5px);
    background: #d92626;
  }
  
  @-webkit-keyframes particle-animation-8 {
    100% {
      transform: translate3d(39vw, 24vh, 35px);
    }
  }
  
  @keyframes particle-animation-8 {
    100% {
      transform: translate3d(39vw, 24vh, 35px);
    }
  }
  .particle:nth-child(8) {
    -webkit-animation: particle-animation-8 60s infinite;
            animation: particle-animation-8 60s infinite;
    opacity: 0.89;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -1.6s;
            animation-delay: -1.6s;
    transform: translate3d(77vw, 46vh, 99px);
    background: #3b26d9;
  }
  
  @-webkit-keyframes particle-animation-9 {
    100% {
      transform: translate3d(85vw, 84vh, 72px);
    }
  }
  
  @keyframes particle-animation-9 {
    100% {
      transform: translate3d(85vw, 84vh, 72px);
    }
  }
  .particle:nth-child(9) {
    -webkit-animation: particle-animation-9 60s infinite;
            animation: particle-animation-9 60s infinite;
    opacity: 0.33;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -1.8s;
            animation-delay: -1.8s;
    transform: translate3d(33vw, 72vh, 87px);
    background: #d926bb;
  }
  
  @-webkit-keyframes particle-animation-10 {
    100% {
      transform: translate3d(52vw, 4vh, 45px);
    }
  }
  
  @keyframes particle-animation-10 {
    100% {
      transform: translate3d(52vw, 4vh, 45px);
    }
  }
  .particle:nth-child(10) {
    -webkit-animation: particle-animation-10 60s infinite;
            animation: particle-animation-10 60s infinite;
    opacity: 0.21;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -2s;
            animation-delay: -2s;
    transform: translate3d(14vw, 7vh, 88px);
    background: #d95c26;
  }
  
  @-webkit-keyframes particle-animation-11 {
    100% {
      transform: translate3d(17vw, 36vh, 45px);
    }
  }
  
  @keyframes particle-animation-11 {
    100% {
      transform: translate3d(17vw, 36vh, 45px);
    }
  }
  .particle:nth-child(11) {
    -webkit-animation: particle-animation-11 60s infinite;
            animation: particle-animation-11 60s infinite;
    opacity: 0.29;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -2.2s;
            animation-delay: -2.2s;
    transform: translate3d(67vw, 1vh, 42px);
    background: #d95c26;
  }
  
  @-webkit-keyframes particle-animation-12 {
    100% {
      transform: translate3d(52vw, 51vh, 62px);
    }
  }
  
  @keyframes particle-animation-12 {
    100% {
      transform: translate3d(52vw, 51vh, 62px);
    }
  }
  .particle:nth-child(12) {
    -webkit-animation: particle-animation-12 60s infinite;
            animation: particle-animation-12 60s infinite;
    opacity: 0.45;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -2.4s;
            animation-delay: -2.4s;
    transform: translate3d(9vw, 59vh, 19px);
    background: #26d9a0;
  }
  
  @-webkit-keyframes particle-animation-13 {
    100% {
      transform: translate3d(28vw, 41vh, 36px);
    }
  }
  
  @keyframes particle-animation-13 {
    100% {
      transform: translate3d(28vw, 41vh, 36px);
    }
  }
  .particle:nth-child(13) {
    -webkit-animation: particle-animation-13 60s infinite;
            animation: particle-animation-13 60s infinite;
    opacity: 0.82;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -2.6s;
            animation-delay: -2.6s;
    transform: translate3d(10vw, 90vh, 58px);
    background: #a026d9;
  }
  
  @-webkit-keyframes particle-animation-14 {
    100% {
      transform: translate3d(17vw, 86vh, 85px);
    }
  }
  
  @keyframes particle-animation-14 {
    100% {
      transform: translate3d(17vw, 86vh, 85px);
    }
  }
  .particle:nth-child(14) {
    -webkit-animation: particle-animation-14 60s infinite;
            animation: particle-animation-14 60s infinite;
    opacity: 0.45;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -2.8s;
            animation-delay: -2.8s;
    transform: translate3d(17vw, 64vh, 50px);
    background: #3bd926;
  }
  
  @-webkit-keyframes particle-animation-15 {
    100% {
      transform: translate3d(31vw, 45vh, 2px);
    }
  }
  
  @keyframes particle-animation-15 {
    100% {
      transform: translate3d(31vw, 45vh, 2px);
    }
  }
  .particle:nth-child(15) {
    -webkit-animation: particle-animation-15 60s infinite;
            animation: particle-animation-15 60s infinite;
    opacity: 0.75;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -3s;
            animation-delay: -3s;
    transform: translate3d(38vw, 6vh, 89px);
    background: #d98b26;
  }
  
  @-webkit-keyframes particle-animation-16 {
    100% {
      transform: translate3d(5vw, 26vh, 72px);
    }
  }
  
  @keyframes particle-animation-16 {
    100% {
      transform: translate3d(5vw, 26vh, 72px);
    }
  }
  .particle:nth-child(16) {
    -webkit-animation: particle-animation-16 60s infinite;
            animation: particle-animation-16 60s infinite;
    opacity: 0.73;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -3.2s;
            animation-delay: -3.2s;
    transform: translate3d(66vw, 84vh, 76px);
    background: #6826d9;
  }
  
  @-webkit-keyframes particle-animation-17 {
    100% {
      transform: translate3d(51vw, 54vh, 37px);
    }
  }
  
  @keyframes particle-animation-17 {
    100% {
      transform: translate3d(51vw, 54vh, 37px);
    }
  }
  .particle:nth-child(17) {
    -webkit-animation: particle-animation-17 60s infinite;
            animation: particle-animation-17 60s infinite;
    opacity: 0.04;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -3.4s;
            animation-delay: -3.4s;
    transform: translate3d(38vw, 53vh, 34px);
    background: #9726d9;
  }
  
  @-webkit-keyframes particle-animation-18 {
    100% {
      transform: translate3d(12vw, 86vh, 64px);
    }
  }
  
  @keyframes particle-animation-18 {
    100% {
      transform: translate3d(12vw, 86vh, 64px);
    }
  }
  .particle:nth-child(18) {
    -webkit-animation: particle-animation-18 60s infinite;
            animation: particle-animation-18 60s infinite;
    opacity: 0.14;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -3.6s;
            animation-delay: -3.6s;
    transform: translate3d(29vw, 85vh, 65px);
    background: #4d26d9;
  }
  
  @-webkit-keyframes particle-animation-19 {
    100% {
      transform: translate3d(62vw, 84vh, 19px);
    }
  }
  
  @keyframes particle-animation-19 {
    100% {
      transform: translate3d(62vw, 84vh, 19px);
    }
  }
  .particle:nth-child(19) {
    -webkit-animation: particle-animation-19 60s infinite;
            animation: particle-animation-19 60s infinite;
    opacity: 0.5;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -3.8s;
            animation-delay: -3.8s;
    transform: translate3d(26vw, 32vh, 53px);
    background: #d93226;
  }
  
  @-webkit-keyframes particle-animation-20 {
    100% {
      transform: translate3d(4vw, 29vh, 70px);
    }
  }
  
  @keyframes particle-animation-20 {
    100% {
      transform: translate3d(4vw, 29vh, 70px);
    }
  }
  .particle:nth-child(20) {
    -webkit-animation: particle-animation-20 60s infinite;
            animation: particle-animation-20 60s infinite;
    opacity: 0.1;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -4s;
            animation-delay: -4s;
    transform: translate3d(79vw, 47vh, 47px);
    background: #3ed926;
  }
  
  @-webkit-keyframes particle-animation-21 {
    100% {
      transform: translate3d(55vw, 2vh, 15px);
    }
  }
  
  @keyframes particle-animation-21 {
    100% {
      transform: translate3d(55vw, 2vh, 15px);
    }
  }
  .particle:nth-child(21) {
    -webkit-animation: particle-animation-21 60s infinite;
            animation: particle-animation-21 60s infinite;
    opacity: 0.51;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -4.2s;
            animation-delay: -4.2s;
    transform: translate3d(30vw, 85vh, 21px);
    background: #b226d9;
  }
  
  @-webkit-keyframes particle-animation-22 {
    100% {
      transform: translate3d(8vw, 18vh, 80px);
    }
  }
  
  @keyframes particle-animation-22 {
    100% {
      transform: translate3d(8vw, 18vh, 80px);
    }
  }
  .particle:nth-child(22) {
    -webkit-animation: particle-animation-22 60s infinite;
            animation: particle-animation-22 60s infinite;
    opacity: 0.35;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -4.4s;
            animation-delay: -4.4s;
    transform: translate3d(90vw, 14vh, 61px);
    background: #2629d9;
  }
  
  @-webkit-keyframes particle-animation-23 {
    100% {
      transform: translate3d(84vw, 61vh, 8px);
    }
  }
  
  @keyframes particle-animation-23 {
    100% {
      transform: translate3d(84vw, 61vh, 8px);
    }
  }
  .particle:nth-child(23) {
    -webkit-animation: particle-animation-23 60s infinite;
            animation: particle-animation-23 60s infinite;
    opacity: 0.47;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -4.6s;
            animation-delay: -4.6s;
    transform: translate3d(37vw, 38vh, 77px);
    background: #d92680;
  }
  
  @-webkit-keyframes particle-animation-24 {
    100% {
      transform: translate3d(78vw, 2vh, 94px);
    }
  }
  
  @keyframes particle-animation-24 {
    100% {
      transform: translate3d(78vw, 2vh, 94px);
    }
  }
  .particle:nth-child(24) {
    -webkit-animation: particle-animation-24 60s infinite;
            animation: particle-animation-24 60s infinite;
    opacity: 0.94;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -4.8s;
            animation-delay: -4.8s;
    transform: translate3d(78vw, 33vh, 86px);
    background: #d92680;
  }
  
  @-webkit-keyframes particle-animation-25 {
    100% {
      transform: translate3d(53vw, 33vh, 45px);
    }
  }
  
  @keyframes particle-animation-25 {
    100% {
      transform: translate3d(53vw, 33vh, 45px);
    }
  }
  .particle:nth-child(25) {
    -webkit-animation: particle-animation-25 60s infinite;
            animation: particle-animation-25 60s infinite;
    opacity: 0.96;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -5s;
            animation-delay: -5s;
    transform: translate3d(32vw, 12vh, 18px);
    background: #d98b26;
  }
  
  @-webkit-keyframes particle-animation-26 {
    100% {
      transform: translate3d(40vw, 59vh, 41px);
    }
  }
  
  @keyframes particle-animation-26 {
    100% {
      transform: translate3d(40vw, 59vh, 41px);
    }
  }
  .particle:nth-child(26) {
    -webkit-animation: particle-animation-26 60s infinite;
            animation: particle-animation-26 60s infinite;
    opacity: 0.15;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -5.2s;
            animation-delay: -5.2s;
    transform: translate3d(65vw, 67vh, 99px);
    background: #8226d9;
  }
  
  @-webkit-keyframes particle-animation-27 {
    100% {
      transform: translate3d(47vw, 24vh, 34px);
    }
  }
  
  @keyframes particle-animation-27 {
    100% {
      transform: translate3d(47vw, 24vh, 34px);
    }
  }
  .particle:nth-child(27) {
    -webkit-animation: particle-animation-27 60s infinite;
            animation: particle-animation-27 60s infinite;
    opacity: 0.09;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -5.4s;
            animation-delay: -5.4s;
    transform: translate3d(67vw, 35vh, 93px);
    background: #d92647;
  }
  
  @-webkit-keyframes particle-animation-28 {
    100% {
      transform: translate3d(37vw, 3vh, 56px);
    }
  }
  
  @keyframes particle-animation-28 {
    100% {
      transform: translate3d(37vw, 3vh, 56px);
    }
  }
  .particle:nth-child(28) {
    -webkit-animation: particle-animation-28 60s infinite;
            animation: particle-animation-28 60s infinite;
    opacity: 0.15;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -5.6s;
            animation-delay: -5.6s;
    transform: translate3d(66vw, 41vh, 44px);
    background: #d926ca;
  }
  
  @-webkit-keyframes particle-animation-29 {
    100% {
      transform: translate3d(56vw, 76vh, 59px);
    }
  }
  
  @keyframes particle-animation-29 {
    100% {
      transform: translate3d(56vw, 76vh, 59px);
    }
  }
  .particle:nth-child(29) {
    -webkit-animation: particle-animation-29 60s infinite;
            animation: particle-animation-29 60s infinite;
    opacity: 0.63;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -5.8s;
            animation-delay: -5.8s;
    transform: translate3d(29vw, 46vh, 76px);
    background: #26d94d;
  }
  
  @-webkit-keyframes particle-animation-30 {
    100% {
      transform: translate3d(12vw, 16vh, 11px);
    }
  }
  
  @keyframes particle-animation-30 {
    100% {
      transform: translate3d(12vw, 16vh, 11px);
    }
  }
  .particle:nth-child(30) {
    -webkit-animation: particle-animation-30 60s infinite;
            animation: particle-animation-30 60s infinite;
    opacity: 0.74;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -6s;
            animation-delay: -6s;
    transform: translate3d(18vw, 39vh, 83px);
    background: #d94726;
  }