.navbar 
{
    display: flex;
    height: 70px;
    background: var(--demba-dark);
    color: white;
    align-items: center;
    padding: 0px 15% 0px 15%;
    flex-direction: row;
    padding-top: 10px;
    /* border-bottom: solid 1px rgb(137, 137, 137); */
}
@media only screen and (max-width: 800px) {
.navbar
{
    padding: 0px 5% 0px 5%;
}
}
.left 
{
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}
.pp 
{
    border-radius: 50%;
    overflow: hidden;
    background-image: url("../../assets/me.jpg");
    width: 50px;
    background-size: cover;
    height: 50px;
    background-position: 50%;
    border: solid 1px white;
}
.right 
{
    flex-grow: 0.5;
    display: flex;
    justify-items: center;
    justify-content: center;
}
