.background {
  width: 100%;
  background: none;
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  position: relative;
  font-weight: bold;
  cursor: pointer;
  height: 200px;
}

.image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../../assets/me2.jpg");
  background-position-y: -206px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 0px;
  display: block;
  width: 100%;
  transition: 0.1s;
  filter: blur(4px);
}
.toptext {
  position: absolute;
  left: 48%;
  top: 20px;
  font-size: 5vmin;
  display: none;
}
.bigtext {
  left: 20px;
  top: 20px;
  font-size: 7vw;
  position: absolute;
  transition: 0.5s;
}

@media only screen and (max-width: 800px) {
    .background{
        height: 100px;
    }
    .image 
    {
        background-position-y: -100px;
    }
}
@media (hover: hover) {
  .background:hover {
    color: black;
  }
  .background:hover .image {
    height: 100%;
    filter: blur(0px);
  }
  .background:hover .bigtext {
    transform: translateX(100px);
  }
}
@media (hover: none) {
  .background {
    display: none;
  }
}
