:root {
  --demba-dark: #1f1f1f;
  --demba-light-grey : rgb(68, 68, 68);
  --demba-link-blue : rgb(0, 136, 255);
  --demba-link-blue-opaque : rgba(0, 136, 255,0.7);
  --demba-box-shadow-sharp : 0px 4px 0px 2px rgb(129 129 129);
  --demba-box-shadow-smooth : 0px 4px 7px 0px rgb(178 178 178);
  --demba-yellow : rgb(255, 191, 0);
}

/* body 
{
  background: whitesmoke;
} */
.app-container 
{
  display: flex;
  justify-items: center;
  flex-direction: column;
  justify-content: center;
}
.fade-appear 
{
  opacity: 0;
  z-index: 1;
}
.fade-appear.fade-appear-active 
{
  opacity: 1;
  transition: 0.5s;
}
.slideIn-exit 
{
  transform: translateY(-1000px);
  z-index: 1;
}
.slideIn-exit-active 
{
  transform: translateY(0px);
  transition: 0.3s;
}
.slideIn-enter 
{
  transform: translateY(-1000px);
  z-index: 1;
}
.slideIn-enter-active 
{
  transform: translateY(0px);
  transition: 0.3s;
}
.slideOut-appear 
{
  transform: translateY(0px);
  z-index: 1;
}
.slideOut-appear.slideIn-appear-active 
{
  transform: translateY(-1000px);
  transition: 0.3s;
}

.slide-appear 
{
  transform: translateY(-1000px);
  z-index: 1;
}
.slide-appear.slide-appear-active 
{
  transform: translateY(0px);
  transition: 0.3s;
}
.slide-enter 
{
  transform: translateY(-1000px);
  z-index: 1;
}
.slide-enter.slide-enter-active 
{
  transform: translateY(0px);
  transition: 0.3s;
}
.slide-exit 
{
  transform: translateY(0px);
  z-index: 1;
}
.slide-exit.slideIn-exit-active 
{
  transform: translateY(-1000px);
  transition: 0.3s;
}
body 
{
  overflow-x: hidden;
  background-color: var(--demba-dark);
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 15s linear infinite;
  -moz-animation: rotating 15s linear infinite;
  -ms-animation: rotating 15s linear infinite;
  -o-animation: rotating 15s linear infinite;
  animation: rotating 15s linear infinite;
}
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}