:root {
  --demba-dark: #1f1f1f;
  --demba-light-grey : rgb(68, 68, 68);
  --demba-link-blue : rgb(0, 136, 255);
  --demba-link-blue-opaque : rgba(0, 136, 255,0.7);
  --demba-box-shadow-sharp : 0px 4px 0px 2px rgb(129 129 129);
  --demba-box-shadow-smooth : 0px 4px 7px 0px rgb(178 178 178);
  --demba-yellow : rgb(255, 191, 0);
}

body 
{
  background: whitesmoke;
}